.politica-cookies {
  max-width: 900px;
  margin: 50px auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.titulo-politica-cookies {
  text-align: center;
  font-size: 2.5rem;
  color: rgb(24, 64, 61);
  font-weight: bold;
  margin-bottom: 20px;
}

.parrafo-politica-cookies {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #333;
  text-align: justify;
  margin-bottom: 15px;
}

.subtitulo-politica-cookies {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(24, 64, 61);
  margin-top: 30px;
}

@media (max-width: 768px) {
  .politica-cookies {
    padding: 15px;
  }

  .titulo-politica-cookies {
    font-size: 2rem;
  }

  .parrafo-politica-cookies {
    font-size: 1rem;
  }

  .subtitulo-politica-cookies {
    font-size: 1.5rem;
  }
}
