/* ========================= */
/*   SECCIÓN PRINCIPAL      */
/* ========================= */

.section {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.bottom-title{
  margin: 0 0 12px 0;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

/* ----------- FONDO ----------- */
.bg {
  width: 100%;
  height: 450px;
  overflow: hidden;
  position: relative;
}

.bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.35;
}

/* ========================= */
/*     SECCIÓN SUPERIOR     */
/* ========================= */

.top-row {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 3;
}

/* ========================= */
/*      POLAROIDES FIX      */
/* ========================= */

.top-left {
  position: relative;
  width: 600px;   /* 👈 tamaño original */
  height: 330px;
}

/* estilo polaroid */
.polaroid {
  position: absolute;
  width: 180px;
  padding: 10px 10px 26px 10px;
  background: white;
  border-radius: 2px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.25);
}

.polaroid img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

/* DIAGONAL AJUSTADA SIN INVADIR TEXTO */
.p1 {
  top: 30px;
  left: 0;
  transform: rotate(-10deg);
  z-index: 1;
}

.p2 {
  top: 0px;
  left: 110px;
  transform: rotate(6deg);
  z-index: 2;
}

.p3 {
  top: 40px;
  left: 220px;
  transform: rotate(-6deg);
  z-index: 3;
}

.p4 {
  top: 80px;
  left: 330px;
  transform: rotate(10deg);
  z-index: 4;
}

/* ========================= */
/* DERECHA: TEXTO */
/* ========================= */

.top-right {
  width: 40%;
}

.title {
  font-size: 3rem;
  font-weight: 900;
}

.highlight {
  color: #FF751F;
  font-style: italic;
  font-weight: 900;
}

.subtitle {
  margin-top: 1rem;
  font-size: 1.3rem;
  color: #FF751F;
  font-weight: bold;
}

.desc {
  margin-top: 1rem;
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
}

/* ========================= */
/*     SECCIÓN INFERIOR     */
/* ========================= */

.bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 85%;
  margin: 2rem auto 4rem auto;
}

/* TEXTO + BOTÓN */
.bottom-left {
  width: 40%;
}

.bottom-text {
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
  margin-bottom: 1.5rem;
  width: 90%;
}

.read-btn {
  background: #FF751F;
  color: white;
  padding: 0.8rem 2.5rem;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.read-btn:hover {
  background: #FF751F;
}

/* IMÁGENES DERECHA */
.bottom-right {
  display: flex;
  gap: 1.2rem;
  width: 50%;
  justify-content: flex-end;
}

.bottom-right img {
  width: 180px;
  height: 140px;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}