.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #A7C4B2;
  color: rgb(24, 64, 61);
  padding: 20px 40px;
  font-weight: bold;
  margin: 0;
  border-top: 1px solid rgba(0,0,0,0.05);
}

.footer * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer-seccion {
  flex: 1;
}
