.headerStyle {
  position: fixed;
  top: 0;
  left: 0;
  width: 98%;
  height: 60px; 
  display: flex;
  align-items: center;
  background: white;
  background: #A7C4B2 180%;
  padding: 5px 15px; 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.barraLateral {
  position: fixed;
  left: 0;
  top: 0;
  height: 76vh;
  width: 250px;
  color: white;
  padding: 20px;
  z-index: 1001;
}

.headerContent {
  margin-left: 250px;
  width: calc(100% - 250px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.nav-item {
  display: flex;
  align-items: center;
}

/* Nueva clase para mostrar el avatar */
.user-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilo para el avatar redondo */
.avatar-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
  background-color: #f4f4f4;
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
}

