.headerStyle {
  position: fixed;
  top: 0;
  left: 0;
  width: 98%;
  height: 60px; 
  display: flex;
  align-items: center;
  background: white;
  background:  #A7C4B2 180%;
  padding: 5px 15px; 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.barraLateral {
  position: fixed;
  left: 0;
  top: 0;
  height: 76vh;
  width: 250px; /* Ajusta el ancho según necesites */
  color: white;
  padding: 20px;
  z-index: 1001;
}

.headerContent {
  margin-left: 250px; /* Mismo ancho que la barra lateral */
  width: calc(100% - 250px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.nav-item {
  display: flex;
  align-items: center;
}

.user-dropdown {
  position: relative;
}

.user-icon {
  font-size: 24px;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  border: 1px solid #ddd;
  padding: 10px;

}

.user-dropdown:hover .dropdown-menu {
  display: block;
}


