/* Estilos generales del menú */
.barra-lateral {
    position: relative;
  }
  
  .menu-btn {
    color: white;
    font-size: 1.5rem;
    padding: 10px;
    background-color: #2d3748;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
  }
  
  .menu-container {
    position: absolute;
    top: 50px;
    left: 10px;
    background-color: #2d3748;
    width: 200px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
    z-index: 999;
  }
  
  /* Lista de enlaces */
  .menu-list {
    list-style: none; /* Quita los puntos */
    padding: 0;
    margin: 0;
  }
  
  /* Estilos de cada ítem */
  .menu-item {
    margin-bottom: 5px;
  }
  
  /* Estilos de los enlaces */
  .menu-link {
    display: block;
    color: white;
    text-decoration: none; /* Quita el subrayado */
    padding: 8px 16px;
    border-radius: 4px;
    transition: background 0.3s;
  }
  
  .menu-link:hover {
    background-color: #4a5568;
  }
  
  /* Submenú */
  .sub-menu {
    list-style: none; /* Quita los puntos del submenú */
    padding-left: 15px;
  }
  
  .sub-menu .menu-link {
    font-size: 0.9rem;
    padding-left: 20px;
  }
  

  .menu-divider {
    border: 0;
    height: 1px;
    background-color: #4a5568;
    margin: 10px 0;
  }
  